.manual-container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
 background: linear-gradient(135deg, #c8e9ff, #d8f1ff, #c8e9ff);
}
/* CARD */
.manual-card{
  position: relative;
  z-index: 10;

  background: rgba(255,255,255,0.95);
  padding:40px;
  border-radius:16px;
  width:380px;
  display:flex;
  flex-direction:column;
  gap:18px;
  box-shadow:0 12px 30px rgba(0,0,0,0.12);
  text-align:center;
}

/* TITLE */
.manual-title{
  color:#4f46e5;
  font-size:24px;
  font-weight:600;
}

/* INPUT */
.manual-input{
  position: relative;
  z-index: 20;

  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:14px;
  outline:none;
}

.manual-input:focus{
  border-color:#4f46e5;
  box-shadow:0 0 0 2px rgba(79,70,229,0.2);
}

/* REMOVE NUMBER ARROWS */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* BUTTON */
.manual-btn{
  margin-top:10px;
  padding:12px;
  border:none;
  border-radius:8px;
  background: linear-gradient(135deg,#4f46e5,#6366f1);
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
}

.manual-btn:hover{
  transform:scale(1.03);
}

.manual-btn:active{
  transform:scale(0.97);
}

/* BACK BUTTON */
.manual-back{
  align-self:flex-start;
  padding:6px 12px;
  border:none;
  border-radius:6px;
 
  cursor:pointer;
}

.manual-back:hover{
  background:#c7d2fe;
}